micraa.be {
    # Automatically handles HTTPS with Let's Encrypt
    reverse_proxy app:8080
}

livekit.micraa.be {
    reverse_proxy livekit:7880
}

# Redirect HTTP to HTTPS
http://micraa.be {
    redir https://micraa.be{uri} permanent
}
